.title {
  font-size: 48px;
  color: blue;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.user_input {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.todo_header{
  text-align: center;
  font-size: 40px;
  color: blue;
}
.input {
  text-align: center;
  width: 400px;
  height: 20px;
  font-size: 25px;
}
.remove_button {
    align: left;
    width: 40px;
    text-align: center;
    background-color: white;
}
.button_add {
  width: 60px;
  font-size: 16px;
}
.to_do:hover {
  background-color: lightgrey;
}
.row {
    margin-top: 20px;
    height: 40px;
}
.priority_button:hover {
    background-color: #fff98a;
}
.complete_button:hover {
    background-color: lightgreen;
}
.remove_button {
    align: left;
    width: 40px;
    text-align: center;
    background-color: white;
}
.remove_button:hover {
    background-color: #ff4040;
}
body {
  background-color: black;
}
hr {
  width: 90%;
}
table {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 22px;
    background-color: white;
}
